#square {
    width: 200px;
    height: 200px;
    background-color: red;
    position: relative;
}

button {
    margin-bottom: 15px;
}

h2 {
    color: white;
    text-align: center;
    margin: 0;
    line-height: 100px;
    font-size: 10px;
}